html
    head
        title="Docker Test"
        link(rel="styleshee", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    body
        div.container
            div.jumbotron
                h1 Hello EveryBody!!
                p Click the botton
                p
                a.btn.btn-primary(href="") Submit
                p